%table.table
  %tr
    %th
      Name
    %th
      Email
    %th
      Phone
    %th
  -if !@shoppers.nil?
    -@shoppers.each do |shopper|
      %tr
        %td
          =link_to shopper.name, shopper_path(shopper)
        %td
          =shopper.email
        %td
          =shopper.phone
        %td
          %div.btn-group
            %button.btn.btn-xs.btn-default.dropdown-toggle{type:"button", :"data-toggle" => "dropdown"}
              Actions
              %span.caret
            %ul.dropdown-menu{role:"menu"}
              %li
                %span{style:"padding:3px 20px;"}
                  Notifcations
              %li.divider
              %li
                =link_to "Shopping", shoppers_shopping_path(user_id: shopper.id)
=link_to "Add Shopper", new_shopper_path
