%h2
  Users
%table.table
  %tr
    %th
      Name
    %th
      Email
    %th
      Type
    %th
      Created
  -@users.each do |user|
    %tr
      %td
        =link_to user.name, user_path(user)
      %td
        =user.email
      %td
        - #for some reason _type sometimes isn't set during migration. can probably be remove down the road
        =user.read_attribute('_type')
      %td
        =user.c_at
