%h2
  =@user.name
%p
  =@user.email
=form_tag user_path(@user), method: :put do
  %p
    =select_tag :user_type, options_for_select([''] + User.user_types, @user.user_type)
  %p
    =submit_tag :update