-content_for :header do
  = javascript_include_tag "customer/customer.js"
%div.form-group
  =f.label :first_name
  =f.text_field :first_name, class: 'form-control'
%div.form-group
  =f.label :last_name
  =f.text_field :last_name, class: 'form-control'
%div.form-group
  =f.label :shopper_id, "Shopper"
  =f.select :shopper_id, options_for_select(Shopper.shopper_list_for_select), {}, class: 'form-control'
%div.form-group
  =f.label :email
  =f.text_field :email, class: 'form-control'
%div.form-group
  =f.label :phone
  =f.text_field :phone, class: 'form-control formatted-phone'
- @customer.build_shopping_time unless @customer.shopping_time
= f.fields_for :shopping_time do |st|
  =st.hidden_field :shopper_id, value: @customer.shopper_id
  =st.hidden_field :id
  %h4
    Shopping trip
  %div{class: "subform"}
    %div.form-group
      =st.label :day
      =st.select :day, options_for_select(ShoppingTime.days, st.object.day), {}, class: 'form-control'
    %div.form-group
      =st.label :time
      =st.select :time, options_for_select(ShoppingTime.times, st.object.time), {}, class: 'form-control'
%div.form-group
  =f.label :wunderlist_url, "Shopping List URL"
  =f.text_field :wunderlist_url, class: 'form-control'
%div.form-group
  =f.label :feedback_url, "Feedback URL"
  =f.text_field :feedback_url, class: 'form-control'
%div.form-group
  =f.submit "Save", class: 'btn btn-default'
