=form_for @customer, url: customers_path do |f|
  %div.form-group
    =f.label :first_name
    =f.text_field :first_name, class: 'form-control'
  %div.form-group
    =f.label :last_name
    =f.text_field :last_name, class: 'form-control'
  %div.form-group
    =f.label :buyer_id
    =f.select :buyer_id, options_for_select(User.buyer_list_for_select), {}, class: 'form-control'
  %div.form-group
    =f.label :email
    =f.text_field :email, class: 'form-control'
  %div.form-group
    =f.label :phone
    =f.text_field :phone, class: 'form-control'
  %div.form-group
    =f.submit "Save", class: 'btn btn-default'