%table.table
  %tr
    %th
      Name
    %th
      Wallet Balance
    %th
      Shopper
    %th
      Shopping Time
    %th
      Email
    %th
      Phone
    %th
  -if !@customers.nil?
    -@customers.each do |customer|
      %tr
        %td
          =link_to customer.name, customer_path(customer)
        %td
          =link_to number_to_currency(customer.wallet.nil? ? 0 : customer.wallet.balance), customer_wallet_path(customer)
        %td
          -if customer.buyer.present?
            =link_to customer.buyer.name, buyer_path(customer.buyer)
        %td
          -if customer.shopping_time.present?
            =customer.shopping_time.day
            =customer.shopping_time.time
        %td
          =customer.email
        %td
          =customer.phone
        %td
          %div.btn-group
            %button.btn.btn-xs.btn-default.dropdown-toggle{type:"button", :"data-toggle" => "dropdown"}
              Actions
              %span.caret
            %ul.dropdown-menu{role:"menu"}
              %li
                %span{style:"padding:3px 20px;"}
                  Notifcations
              %li.divider
              %li
                =link_to "Shopping", customer_shopping_path(user_id: customer.id)
              %li
                =link_to "Drop off", customer_dropoff_path(user_id: customer.id)
=link_to "Add Customer", new_customer_path
