%h2
  =@customer.name
%p
  =@customer.email
%p
  =@customer.phone
%p
  =link_to "Wallet balance: #{number_to_currency(@customer.wallet.nil? ? 0 : @customer.wallet.balance)}", customer_wallet_path(@customer)
%p
  =@customer.wunderlist_url
%p
  =@customer.feedback_url
%p
  =link_to "Edit", edit_customer_path(@customer)
%h3
  Shopper
%p
  =link_to @customer.buyer.name, buyer_path(@customer.buyer)
