%table.table
  %tr
    %th
      Name
    %th
      Email
    %th
      Phone
  -if !@buyers.nil?
    -@buyers.each do |buyer|
      %tr
        %td
          =link_to buyer.name, buyer_path(buyer)
        %td
          =buyer.email
        %td
          =buyer.phone
=link_to "Add Buyer", new_buyer_path