%table.table
  %tr
    %th
      Name
    %th
      Email
    %th
      Phone
    %th
  -if !@buyers.nil?
    -@buyers.each do |buyer|
      %tr
        %td
          =link_to buyer.name, buyer_path(buyer)
        %td
          =buyer.email
        %td
          =buyer.phone
        %td
          %div.btn-group
            %button.btn.btn-xs.btn-default.dropdown-toggle{type:"button", :"data-toggle" => "dropdown"}
              Actions
              %span.caret
            %ul.dropdown-menu{role:"menu"}
              %li
                %span{style:"padding:3px 20px;"}
                  Notifcations
              %li.divider
              %li
                =link_to "Shopping", buyer_shopping_path(user_id: buyer.id)
=link_to "Add Shopper", new_buyer_path
