%h2
  Shopper
%p
  =@buyer.name
%p
  =@buyer.email
%p
  =@buyer.phone
%h3
  Customers
%ul
  -@buyer.customers.each do |customer|
    %li
      =link_to customer.name, customer_path(customer)
      -shopping_trip = customer.shopping_trip
      -if shopping_trip
        =shopping_trip.day
        =shopping_trip.time
