.bot-10 {
  margin-bottom: 10px;  
}
.right-10 {
  margin-right: 10px;
}
.fl {
  float: left
}
.alert-success{
  margin-bottom: 0;
}
.alert-error{
  margin-bottom: 0;
}
.alert-block{
  margin-bottom: 0;
}
.alert-info{
  margin-bottom: 0;
}