.bot-10 {
  margin-bottom: 10px;
}
.right-10 {
  margin-right: 10px;
}
.fl {
  float: left
}
.alert-success{
  margin-bottom: 0;
}
.alert-error{
  margin-bottom: 0;
}
.alert-block{
  margin-bottom: 0;
}
.alert-info{
  margin-bottom: 0;
}

.subform {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.calendar-table th{
  width:12.5%; text-align:center
}
